#backimage
{
	background-image: url('book3.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-color:rgb(0,0,0);
	height: 100vh;
	width: 100%;
	margin: 0;
}
#demo
{
	padding-left: 45%;
	padding-top: 3%;
	font-size: 20px;
	color:#ff0000;
}
#myCarousel1
{
 height:40%;
 width: 40%;
margin-top: 25px;
 left:50%;
}

#myCarousel2
{

height:40%;
width: 40%; 
left:50%;
 
}
#myCarousel3
{
height:40%;
width: 40%;
left:50%;
}
#r2
{
padding-top: 20px;
}
#r3
{
	padding-top: 20px;
}
#c2
{
	padding-left: 5%;
}
#n
{
	padding-top: 15%;
	width:60%;
}
#r4
{
	padding-top: 3%;
	height: 10%;
}
#r5
{
	height: 90%;
}
#form1
{
	width:60%;
}

#form2
{
	width:60%;
}
.dropdown-menu
{
	min-width:500px;
	min-height:200px;
}

.dropdown-menu li a
{
	padding: 10px 15px;
}

.multi-column-dropdown
{
	list-style: none;
	margin:0px;
	padding:0px;
}
.multi-column-dropdown li a
{
	display: block;
	clear: both;
	color:#333;
	white-space: normal;

}

.multi-column-dropdown li a:hover{
	text-decoration:none;
	color:#262626;
	background-color: #999;
}
